# Bases de datos (NO subir archivos .db)
*.db
*.sqlite
*.sqlite3

# Entornos virtuales
venv/
.venv/
env/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Archivos de sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local

# Logs
*.log
